.login.error{
    text-align: center;
    margin-top: 50px;
}
.hideInput {
    display: none;
}
.car-brand-box .tbBrand{
    margin-top: 10px;
}
.btnUploadCar{
    margin-top: 20px;
}
.cars-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    min-height: 500px;
}
.cars-wrapper h2{
    text-align: center;
}
.single-car{
    display: flex;
    /*flex-direction: row;*/
    flex: 1 1 100%;
    margin: 20px;
    min-height: 300px;
    border-bottom: 1px solid #C59E47;
    border-top: 1px solid #C59E47;
}
.img-wrapper{
    flex: 1 1 40%;
    margin: 20px;
    overflow: hidden;
}
.info-wrapper-wrapper{
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
}
.info-wrapper-wrapper h4{
    text-align: center;
}
.info-wrapper{
    display: flex;
    flex-direction: row;
    flex: 1 1 60%;
    margin: 20px 20px 20px 0px;
}
.info-wrapper h4{
    text-align: center;
}
.info-row{
    margin-left: 10px;
    font-size: 20px;
    /*border-bottom: 1px solid #843534;*/
}
.img-wrapper img{
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
}
.car-info{
    flex: 1 1 50%;
}
.car-actions{
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
}
.car-actions a{
    border: 1px solid #C59E47;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
}
.car-actions a:hover{
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #C59E47;
    text-decoration: none;
    transition: all 0.5s;
}
.auction{
    display: flex;
    flex-direction: column;
}
.rent{
    display: flex;
    flex-direction: column;
}
.hideDates{
    display: none;
}
.dateTable{
    width: 100%;
    margin-bottom: 10px;
}
.dateTable td{
    padding-bottom: 10px;
}
.disabled {
    pointer-events: none;
    cursor: default;
}
.admin-panel-wrapper {
    margin-top: 70px;
}
.admin-panel-wrapper h1{
    text-align: center;
    margin-bottom: 20px;
}
.admin-tabs{
    font-size: 24px;
}
.admin-tabs:hover{
    background-color: #C59E47;
    color: #fff;
    transition: all 0.5s;
}
.admin-tab-active{
    background-color: #C59E47;
    color: #fff;
}
.well{
    background-color: #fff;
}
.tab-pane h2{
    text-align: center;
}
.links-wrapper{
    display: flex;
    flex-direction: row;
}
.paginate-link {
    font-size:20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #C59E47;
    margin-left: 20px;
    color: brown;
}
.paginate-link-active{
    background-color: #C59E47;
    color: #fff;
}
.paginate-link:hover {
    background-color: #C59E47;
    color: #fff;
    transition: all 0.5s;
    text-decoration: none;
}
.brands-models-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 400px;
    flex-wrap: wrap;
}
.brands-models-wrapper a{
    border: 1px solid #C59E47;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
    width: 30%;
}
.brands-models-wrapper a:hover{
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #C59E47;
    text-decoration: none;
    transition: all 0.5s;
}
.brands-wrapper{
    flex: 1 1 50%;
    display: flex;
    flex-direction: row;
    border-right: 1px solid #C59E47;
}
.brand-list-wrapper{
    flex: 1 1 70%;
    margin: 20px 20px 0px 40px;
}
.brand-link-wrapper{
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
}
.brands-wrapper a{
    width: 100%;
    margin: 20px 0px 0px 20px;
}
.models-wrapper{
    flex: 1 1 50%;
    display: flex;
    flex-direction: row;
}
.model-list-wrapper{
    flex: 1 1 50%;
    margin: 20px;
}
.model-links-wrapper{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;

}
.models-wrapper a{
    width: 60%;
    margin: 20px 0px 0px 50px;
}
.tbNewBrand{
    width: 100%;
    margin: 20px 0px 0px 20px;
}
.hide-elem{
    display: none;
}
.selected{
    margin: 20px 0px 0px 20px;
    color: red;
}
.brands-errors{
    margin: 20px 0px 0px 20px;
    color: red;
}
.model-errors{
    margin: 20px 0px 0px 20px;
    color: red;
}
.empty-list-error{
    margin: 20px 0px 0px 20px;
    color: red;
}
.brands-success{
    margin: 20px 0px 0px 20px;
    color: green;
}
ul.brand-list li:hover{
    cursor: pointer;
}
.selectable:hover{
    cursor: pointer;
}
.poll-form h1, h3{
    text-align: center;
}
.poll-answers{
    font-size: 20px;
    min-height: 150px;
    margin-bottom: 20px;
}